@tailwind base;
@tailwind components;
@tailwind utilities;

body { opacity: 0; transition: opacity 0.2s; }
[data-theme] body { opacity: 1; }

.navbar-start {
    display: inline-flex;
    align-items: center;
    width: 25%;
    justify-content: flex-start;
}
 .transparent-background {
  position: relative; /* Set relative positioning for the pseudo-element */
  background-color: transparent;
}
.transparent-background .navbar {
  background-color: var(--fallback-b3, oklch(var(--b3))) !important;
}
.asteroid-float {
  position: fixed;
  /* top: 5%; */
  /* left: 20%;  */
  /* width: 60%;  */
  height: auto;
  opacity: 0.8;
  pointer-events: none;
  z-index: -1;

}
.slow-spin {
  animation-duration: 120s !important;
  animation-iteration-count: infinite !important;
}
.text-pink {
  color:#f078f7;
}
.text-dark-pink {
  color:#6b0371;
}
.bg-pink {
  background-color: #f1d8f3;
}