@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-start {
    display: inline-flex;
    align-items: center;
    width: 25%;
    justify-content: flex-start;
}
.transparent-background {
  position: relative; /* Set relative positioning for the pseudo-element */

}

.asteroid-float {
  position: fixed;
  top: 5%; /* adjust as needed */
  left: 20%; /* start just off the right edge */
  width: 60%; /* adjust size as needed */
  height: auto;
  opacity: 0.8;
  pointer-events: none;
  z-index: -1;

  animation: asteroid-move 120s linear infinite, asteroid-rotate 120s linear infinite;
}



@keyframes asteroid-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text-pink {
  color:#f078f7;
}

.asteroids-list, .asteroids-filters {
  background-color: oklch(26% 0.007 34.298 / 0.7);
}
